body {
  margin: 0;
  padding: 0;
  font: 16px Arial, Verdana, Helvetica, sans-serif;
  color: #373737;
}

.inner {
  padding: 3.5%;
}

a {
  text-decoration: none;
  color: #FF6600;
}

a:hover {
  color: #909090;
}

.logo {
  display: inline-block;
}

nav {
  display: inline-block;
  float: right;
}

nav li {
  display: inline-block;
  position: relative;
  padding-bottom: 30px;
  padding: 0 27px;
  padding-top: 30px;
  padding-bottom: 30px;
}

nav a {
  color: #000000;
}

header {
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, .9);
  width: 100%;
}

footer {
  background-color: #000066;
  color: white;
  padding: 2% 5% 2% 5%;
}

h2 {
  font: 16px Arial, Verdana, Helvetica, sans-serif;
  font-weight: bold;
}