body {
  margin: 0;
  padding: 0;
  font: 16px Arial, Verdana, Helvetica, sans-serif;
  color: #373737;
}

.inner {
  padding: 3.5%;
}

a {
  text-decoration: none;
  color: #FF6600;
}

a:hover {
  color: #909090;
}

.logo {
  display: inline-block;
}

nav {
  float: right;
}

nav ul {
  padding-left: 0;
}

nav li {
  display: inline-block;
  position: relative;
  padding-bottom: 30px;
  padding: 0 27px;
  padding-top: 30px;
  padding-bottom: 30px;
}

nav a {
  color: #000000;
}

header {
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, .9);
  width: 100%;
}

footer {
  background-color: #000066;
  color: white;
  padding: 2% 5% 2% 5%;
}

h2 {
  font: 16px Arial, Verdana, Helvetica, sans-serif;
  font-weight: bold;
}

.mobile-menu {
  display: none;
}

@media only screen and (max-width: 960px) {
  .mobile-menu {
    display: block;
    float: right;
    background-image: url("../images/appbar.lines.horizontal.4.png");
    background-repeat: no-repeat;
    background-position-y: center;
    width: 50px;
    height: 100px;
  }

  nav {
    display: none;
  }
}
