.banner-image {
  display: block;
  margin: 0 auto;
}

form {
  text-align: center;
  text-transform: uppercase;
}

form input, form textarea {
  background: #CCCCCC;
  width: 85%;
  margin-top: 7px;
  padding: 9px;
  outline: none;
  border: none;
  display: block;
  margin: 0 auto;
}

.button-container {
  margin: 40px auto;
}

form input[type="submit"], form input[type="reset"] {
  width: unset;
  padding: 7px 28px 7px 28px;
  margin: 10px 10px 0 0;
  font-size: 0.75em;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-transition: all 450ms;
  -moz-transition: all 450ms;
  -ms-transition: all 450ms;
  -o-transition: all 450ms;
  transition: all 450ms;
  background: #999999;
  color: #000066;
}

form label {
  display: block;
  padding: 10px;
}

.honeypot {
  position: absolute;
  left: -9999px;
}

.underline {
  text-decoration: underline;
}